{{>menu}}
<hr>
    <div class="" id="">
        <ul class="">
            <li class="">
            <a class="" href="/carts/{{user.cart}}">Shopping 🛒</a>
            </li>
        </ul>
    </div>
<hr>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Welcome {{user.name}}</h1>
        <p class="lead font-weight-normal">You've logged in with your email: {{user.email}}</p>
        <p class="lead font-weight-normal">You've logged in with your email: {{user.cart}}</p>
        {{#if isAdmin}}
            <p class="lead font-weight-normal">You're logged in as an {{user.role}} </p>
        {{/if}}
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<hr>
<main>
  <div class="products-container">
    <input type="text" value="{{{user.cart}}}" id="cart" placeholder="{{{user.cart}}}">
    {{#each data}}
      <div class="product">
        <div class="product-image">
          <img src="{{thumbnail}}" alt="{{title}}" />
        </div>
        <div class="product-details">
          <div class="product-title">{{title}}</div>
          <div class="product-description">{{description}}</div>
          <div class="product-code">Product Code: {{code}}</div>
          <div class="product-price">Price: ${{price}}</div>
          <div class="product-discount">Discount: {{discountPercentage}}%</div>
          <div class="product-rating">Rating: {{rating}}</div>
          <div class="product-stock">Stock: {{stock}}</div>
          <div class="product-brand">Brand: {{brand}}</div>
          <div class="product-category">Category: {{category}}</div>
        </div>
        <!-- View button linking to product details page -->
        <button onclick="addToCart('{{_id}}')" >Add to Cart</button>
      </div>
    {{/each}}
  </div>
  <div class="pagination">
<ul>
  <li><a href="/products?limit={{limit}}&page=1{{#if category}}&category={{category}}{{/if}}{{#if status}}&status={{status}}{{/if}}{{#if sort}}&sort={{sort}}{{/if}}">Pg. 1</a></li>
  {{#if hasPrevPage}}
    <li><a href="/products?limit={{limit}}&page={{prevPage}}{{#if category}}&category={{category}}{{/if}}{{#if status}}&status={{status}}{{/if}}{{#if sort}}&sort={{sort}}{{/if}}">Previous</a></li>
  {{/if}}
  {{#if hasNextPage}}
    <li><a href="/products?limit={{limit}}&page={{nextPage}}{{#if category}}&category={{category}}{{/if}}{{#if status}}&status={{status}}{{/if}}{{#if sort}}&sort={{sort}}{{/if}}">Next</a></li>
  {{/if}}
  <form action="/products" method="get">
    <label for="page-input">Go to page:</label>
    <input
      type="number"
      id="page-input"
      name="page"
      min="1"
      max="{{totalPages}}"
    />
    <input type="submit" value="Go" />
  </form>
  <li><a href="/products?limit={{limit}}&page={{totalPages}}{{#if category}}&category={{category}}{{/if}}{{#if status}}&status={{status}}{{/if}}{{#if sort}}&sort={{sort}}{{/if}}">Pg. {{totalPages}}</a></li>
</ul>
  </div>
</main>

<script src="/js/products.js"></script>