{{>menu}}
<hr>
<h2>User: {{user.name}} Logged In</h2>
<hr>
<p>Name: <strong>{{user.name}}</strong></p>
<p>e-mail: <strong>{{user.email}}</strong></p>
<p>cart: <strong>{{user.cart}}</strong></p>
{{!-- <p>role: <strong>{{user.role}}</strong></p> --}}
<br><br>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="profilePicture" />
    <input type="file" name="document" />
    <button type="submit">Upload</button>
</form>