{{>menu}}
<hr>
<h2>User: {{user.name}} Logged In</h2>
<hr>
<p>Name: <strong>{{user.name}}</strong></p>
<p>e-mail: <strong>{{user.email}}</strong></p>
<p>cart: <strong>{{user.cart}}</strong></p>
{{!-- <p>role: <strong>{{user.role}}</strong></p> --}}
<br><br>